$light-green:#b5ca92;
$sage-green:#9aa882;
$medium-green:#80905f;
$dark-green:#53652e;
$dark-purple:#4a2544;
$medium-purple:#6a5370;
$light-purple:#928493;

/* light green gradient */
$light-green-full:rgba(181, 202, 146, 0.7);
$light-green-none:rgba(181, 202, 146, 0);
$light-green-gradient:linear-gradient(to right,$light-green-none,$light-green-full,$light-green-full,$light-green-full,$light-green-none);

/*rgb(146, 132, 147)*/

$lightest-purple:#aaa0ab;

/*rgb(170, 160, 171)*/

/* sizes */
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* navbar */
.navbar {
    .container-fluid {
        .row {
            margin-bottom: 0; 
        }
        .navbar-header {
            .navbar-brand {
                height: 50px;
                padding: 5px !important;
                visibility: hidden;
                img {
                    height: 100%;
                    width: auto;
                    border: 2px solid $sage-green;
                    border-radius: 100%;
                    box-sizing: border-box;
                }
            }
            &.active, &:hover, &.active:hover {
                a.navbar-brand {
                    background-color: #f8f8f8; // default
                    img {
                        border: 2px solid $dark-purple;
                    }
                }
            }
            .navbar-toggle:hover {
                background-color: $light-green;
            }
        }
        .navbar-collapse {
            @media (min-width: $screen-sm-min) {
                width: 83.33333333%;
            }
        }
        .navbar-nav {
            li {
                text-align: center;
                padding-left: 3px;
                padding-right: 3px;
                a {
                    padding-left: 3px;
                    padding-right: 3px;
                    font-size: 20px;
                    font-family: 'Champagne&Limousines', Helvetica, sans-serif;
                    text-decoration: none;
                }
                &:hover {
                    color: $dark-purple;
                    background: $lightest-purple;
                    //background: rgba(255, 255, 255, 0.3);
                    text-decoration: none;
                }
            }
        }
    }
    &.navbar-fixed-top {
        .navbar-brand {
            visibility: visible !important;
        }
    }
}
div.nav-li-brand {
    a.navbar-brand {
        height: 50px;
        padding: 5px !important;
        img {
            height: 100%;
            width: auto;
            border: 2px solid $sage-green;
            border-radius: 100%;
            box-sizing: border-box;
        }
        &.navbar-brand-show {
            display: block !important;
        }
    }
    &.active, &:hover, &.active:hover {
        a.navbar-brand {
            background-color: #f8f8f8; // default
            img {
                border: 2px solid $dark-purple;
            }
        }
    }
}

.img-circle {
    width: 100%;
    border-radius: 100%;
    border: 3px solid #fff;
    background-color: #fff;
}
.backstretch {
    img {
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }
}
.seitz-footer.navbar-fixed-bottom {
    height: 30px;
    min-height: 30px;
    font-family: 'Champagne&Limousines', Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    .seitz {
        clear: both;
        float: right;
    }
}

/* sections */
.section {
    min-height: 600px;
    width: 100vw;
    height: auto;
    padding-bottom: 100px;
    .section-content {
        min-height: 200px;
        height: auto;
        margin-bottom: 20px;
        padding: 20px;
        padding-bottom: 60px;
        background-color: rgb(238, 238, 238);
        background-color: rgba(238, 238, 238, 0.7);
        border-radius: 10px;
    }
}
.section-intro {
    h1 {
        color: #fff;
        font-family: 'Champagne&LimousinesBold', Helvetica, sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        margin: 0px;
        padding-bottom: 10px;
    }
    h2 {
        color: #fff;
        font-family: 'Champagne&LimousinesItalic', Helvetica, sans-serif;
        font-size: 36px;
        text-align: center;
        margin: 0px;
    }
    div.main-title {
        margin: 30px auto;
    }
    img.img-circle {
        top: 10vh;
    }
    @media all and (max-width: $screen-lg-min) {
        .section-intro h1 {
            font-size: 50px;
        }
        .section-intro h2 {
            font-size: 36px;
        }
    }
    @media all and (max-width: $screen-md-min) {
        .section-intro h1 {
            font-size: 42px;
        }
        .section-intro h2 {
            font-size: 28px;
        }
    }
    @media all and (max-width: $screen-sm-min) {
        .section-intro h1 {
            font-size: 72px;
            padding-bottom: 0px;
        }
        .section-intro h2 {
            font-size: 48px;
            //padding-bottom: 20px;
        }
    }
}
.section-purple,
.section-green {
    padding-top: 15vh;
    h1 {
        font-family: 'Champagne&LimousinesBoldItalic', Helvetica, sans-serif;
        font-size: 40px;
        text-align: right;
        margin-bottom: 30px;
        margin-top: 10px;
        margin-right: 30px;
    }
}
.section-purple {
    color: $medium-purple;
    background-color: $lightest-purple;
    /*#DCD0FF;  lavendar */
}
.section-green {
    color: #1D2951;
    /* space cadet */
    background-color: $light-green;
}

/* section backgrounds */
#welcome {
    z-index: 100 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // TODO: select image based on screen size
    background-image: url(../gallery/IMG_0019.JPG);
    @media (min-width: $screen-sm-min) {
        background-image: url(../gallery/bw/piggy-back-medium.png);
    }
    .welcome-info {
        margin-top: 20vh;
        @media (max-width: $screen-xs-max) {
            border: 6px solid white;
        }
    }
}

/* wedding */
.wedding-party-pics {
    height: 400px;
    a .img-circle {
        max-width: 100px;
        max-height: 100px;
    }
    @media (max-width: $screen-xs-max) {
        a {
            display: block;
        }
    }
}
.wedding-party-info {
    height: 400px;
    h3 {
        margin-top: 15px;
        font-size: 24px;
        font-weight: 500;
    }
    h5 {
        font-size: 14px;
        font-weight: normal;
    }
    div {
        height: 100px;
        display: inline-block;
        @media (max-width: $screen-xs-max) {
            display: inline;
        }
        //border: 1px solid white;
    }
}
.bridesmaids {
    height: 400px;
    .wedding-party-info {
        text-align: right;
    }
    .wedding-party-pics {
        .img-circle:hover {
            border: 3px solid $medium-purple;
        }
    }
}
.groomsmen {
    height: 400px;
    .wedding-party-info {
        text-align: left;
    }
    .wedding-party-pics {
        .img-circle:hover {
            border: 3px solid $medium-green;
        }
    }
    @media (max-width: $screen-xs-max) {
        .wedding-party-info {
            text-align: right;
        }
        .wedding-party-pics {
            float: right!important;
        }
    }
}
.wedding-party-modal {
    .modal-content {
        margin-left: auto;
        margin-right: auto;
        background-color: $dark-purple;
        .modal-body {
            padding: 8px;
            img {
                border: 1px solid #ddd;
            }
        }
        .modal-footer {
            height: 50px;
            padding: 5px;
            border-top: 0;
            h4 {
                text-align: center;
                color: #ddd;
                font-family: 'Champagne&Limousines', Helvetica, sans-serif;
                font-size: 24px;
                line-height: 24px;
            }
        }
    }
    &.modal-h .modal-content {
        width: 620px;
        height: 470px;
        .modal-body {
            width: 620px;
            height: 420px;
        }
    }
    &.modal-v .modal-content {
        width: 420px;
        height: 670px;
        .modal-body {
            width: 420px;
            height: 620px;
        }
    }
}

/* registry */
.registry-link {
    img {
        padding: 15px;
    }
    &:hover {
        img {
            opacity: 0.5;
            filter:alpha(opacity=40);
        }
    }
}

/* styles for single page site */
.background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1 !important;
    top: 0px;
    left: 0px;
    &.background-hidden {
        display: none;
    }
    &#background-landscape {
        //display: inline;
        background-position: top;
        background-size: cover;
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
    &#background-portrait {
        //display: none;
        background-position: top;
        background-size: cover;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }
}
.quick-info {
    margin-top: 50vh;
    padding: 10px;
    text-align: center;
    background-color: rgba(74, 37, 68, 0.7);
    background-image: url('/images/fabric_of_squares_purple90.png');
    height: 160px;
    .quick-info-text {
        display: inline-block;
        vertical-align: middle;
        padding-top: 10px;
        .quick-info-text-wrap {
            float: left;
            h1 {
                margin: 0px 0px 5px 0px;
                font-family: 'Champagne&LimousinesBold', Helvetica, sans-serif;
                font-size: 50px;
                color: #ccc;
                i {
                    color: $sage-green;
                }
            }
            h2 {
                margin: 2px 0px;
                font-family: 'Champagne&Limousines', Helvetica, sans-serif;
                font-size: 26px;
                color: #ccc;
                a {
                    color: #ccc;
                    &:hover {
                        color: $sage-green;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .quick-info-img {
        .img-circle {
            height: 140px;
            width: 140px;
            float: right;
            border-radius: 100%;
            border: 2px solid $sage-green;
            background-color: #fff;
        }
    }
}
@media all and (min-width: 1081px) {
    #background-landscape {
        background-image: url('../gallery/bw/piggy-back-large.png');
    }
    #background-portrait {
        background-image: url('../gallery/bw/hands-large.png');
    }
}
@media all and (max-width: 1080px) {
    #background-landscape {
        background-image: url('../gallery/bw/piggy-back-medium.png');
    }
    #background-portrait {
        background-image: url('../gallery/bw/hands-medium.png');
    }
}
@media all and (max-width: 767px) {
    #background-landscape {
        //display: none !important;
        background-image: url('/gallery/bw/piggy-back-small.png');
    }
    #background-portrait {
        //display: inline !important;
        background-image: url('/gallery/bw/hands-small.png');
    }
    .quick-info {
        height: 60vh;
        min-height: 320px;
        margin-top: 20vh;
        display: flex;
        align-items: center;
        .quick-info-text {
            bottom: auto;
            .quick-info-text-wrap {
                float: center;
                h1 {
                    font-size: 32px;
                }
                h2 {
                    font-size: 20px;
                }
            }
        }
        .quick-info-img {
            .img-circle {
                height: 200px;
                width: 200px;
                float: center;
                margin: 40px;
            }
        }
    }
    .seitz-footer {
        font-size: 12px;
    }
}
@media all and (max-width: 450px) {
    .quick-info {
        .quick-info-text {
            bottom: auto;
            .quick-info-text-wrap {
                h1 {
                    font-size: 26px;
                }
                h2 {
                    font-size: 18px;
                }
            }
        }
        .quick-info-img {
            .img-circle {
                height: 120px;
                width: 120px;
                margin: 20px;
            }
        }
    }
}
@import "fonts"