/* guests */

/* song requests */
.cassette {
    height: 300px;
    background-image: url('../images/cassette.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    form {
        .input-group {
            .input-group-addon {
                width: 40px;
                padding: 3px 6px;
                font-size: 16px;
                color: #FFFFFF;
                background-color: #555;
                border: 1px solid #333;
                top: 0px;
            }
            input {
                width: 150px;
                background-color: transparent;
                color: #555555;
                border: 2px solid #333;
                border-left: 0px;
            }
        }
        .form-group {
            margin: 0px;
        }
        @media (min-width: $screen-sm-min) {
            position: relative;
            top: 50px;
            width: 340px;
            margin: 0px auto;
            .form-group-1 {
                margin: 0px auto;
            }
            .form-group-2 {
                width: 190px;
                margin: 92px auto 0px auto;
            }
            .formButton {
                margin-top: 30px;
            }
        }
    }
}

.formButton {
    width: 90px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.songSuccess {
    width: 390px;
    height: 165px;
    margin: 0px auto;
    padding: 30px;
    position: relative;
    top: 40px;
    border-radius: 10px;
    background-color: $light-green;
    h4 {
        text-align: center;
    }
    .formButton {
        width: 112px;
        margin-top: 30px;
    }
}

/* map */
.luray-map {
    height: 300px;
    border: 3px solid white;
}
