/* map */
.luray-map {
    height: 400px;
    box-sizing: border-box;
    border: 3px solid white;
}

/* map legend accordion */
.panel-wedding {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #DDD;
    //border-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: none;
    .panel-heading {
        &:first-of-type {
            border-top-width: 1px;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
        }
        height: 40px;
        padding: 10px 15px;
        box-sizing: border-box;
        color: #333;
        background-color: #EEEEEE;
        border: 1px solid #DDD;
        border-top-width: 0px;
        border-radius: 0px;
        &:hover {
            background-color: $purple1;
            color: white;
        }
    }
    .panel-body {
        height: 0px;
        padding: 0px;
        box-sizing: border-box;
        background-color: #F5F5F5;
        border: 0px solid #DDD;
        .panel-body-content {
            visibility: hidden;
            .row {
                margin-bottom: 20px;
            }
            h4 {
                font-size: 16px;
                margin: 0px auto 5px auto;
            }
            h5 {
                font-size: 14px;
                margin: 0px auto;
            }
        }
        &.panel-open {
            height: 200px;
            overflow: scroll;
            padding: 15px;
            border-width: 0px 1px 1px 1px;
            .panel-body-content {
                visibility: visible;
            }
        }
    }
}
