/* navbar */
.navbar {
    margin-top: 60px;
    .container-fluid {
        .row {
            margin-bottom: 0; 
        }
        .navbar-header {
            .navbar-brand {
                height: 50px;
                padding: 5px !important;
                visibility: hidden;
                img {
                    height: 100%;
                    width: auto;
                    border: 2px solid $sage-green;
                    border-radius: 100%;
                    box-sizing: border-box;
                }
            }
            &.active, &:hover, &.active:hover {
                a.navbar-brand {
                    background-color: #f8f8f8; // default
                    img {
                        border: 2px solid $dark-purple;
                    }
                }
            }
            .navbar-toggle:hover {
                background-color: $light-green;
            }
        }
        .navbar-collapse {
            @media (min-width: $screen-sm-min) {
                width: 83.33333333%;
            }
        }
        .navbar-nav {
            li {
                text-align: center;
                padding-left: 3px;
                padding-right: 3px;
                a {
                    padding-left: 3px;
                    padding-right: 3px;
                    font-size: 20px;
                    font-family: 'Champagne&Limousines', Helvetica, sans-serif;
                    text-decoration: none;
                }
                &:hover {
                    color: $dark-purple;
                    background: $lightest-purple;
                    //background: rgba(255, 255, 255, 0.3);
                    text-decoration: none;
                }
            }
        }
    }
    &.navbar-fixed-top {
        margin-top: 0px;
        .navbar-brand {
            visibility: visible !important;
        }
    }
}
div.nav-li-brand {
    a.navbar-brand {
        height: 50px;
        padding: 5px !important;
        img {
            height: 100%;
            width: auto;
            border: 2px solid $sage-green;
            border-radius: 100%;
            box-sizing: border-box;
        }
        &.navbar-brand-show {
            display: block !important;
        }
    }
    &.active, &:hover, &.active:hover {
        a.navbar-brand {
            background-color: #f8f8f8; // default
            img {
                border: 2px solid $dark-purple;
            }
        }
    }
}

/* footer */
.seitz-footer.navbar-fixed-bottom {
    height: 30px;
    min-height: 30px;
    font-family: 'Champagne&Limousines', Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    .seitz {
        clear: both;
        float: right;
    }
}
