/* wedding details */
// 
$purple0: #d2cbd4;
$purple1: #96869a;
$purple2: #5f4a64;
$purple3: #352938;

$green0: #D3D9B5;
$green1: #BCDE8A;
$green2: #869E62;
$green3: #505E3A;

#wedding {
    background-color: #ffffff;
    .section-content {
        padding-top: 60px;
        background-color: #ffffff;
    }
    .separate {
        margin-top: 20px;
        margin-bottom: 60px;
        .separator {
            border-top: 1px solid #ccc;
            height: 2px;
        }
    }
    h1, h2 {
        text-align: center;
        margin: 0px;
        position: relative;
    }
    h5 {
        font-family: 'raleway-light', Helvetica, sans-serif;
        margin-top: 40px;
    }
    #fontA {
        h1 {
            font-family: 'sunshine-soul', Helvetica, sans-serif;
            font-size: 58px;
            color: $green0;
            z-index: 3;
            display: inline-block;
        }
        h1.ampersand {
            margin-left: 10px;
            margin-right: 10px;
        }
        h2 {
            font-family: 'return-sender', Helvetica, sans-serif;
            font-size: 84px;
            color: $purple3;
            z-index: 2;
            margin-top: -20px;
        }
    }
    #fontB {
        h1 {
            font-family: 'cursif', Helvetica, sans-serif;
            font-size: 60px;
            color: $purple2;
            z-index: 3;
            display: inline-block;
        }
        h1.ampersand {
            font-family: 'brannboll';
            font-size: 32px;
            width: 32px;
            top: -10px;
            margin-left: 10px;
            margin-right: 10px;
        }
        h2 {
            font-family: 'futura-hand', Helvetica, sans-serif;
            font-size: 84px;
            color: $purple0;
            z-index: 2;
            padding-left: 156px;
            margin-top: -15px;
        }
    }
    #fontC {
        h1 {
            font-family: 'windsong', Helvetica, sans-serif;
            font-size: 86px;
            color: #ccc;
            z-index: 3;
            display: inline-block;
        }
        h1.ampersand {
            margin-left: 10px;
            margin-right: 10px;
        }
        h2 {
            font-family: 'return-sender', Helvetica, sans-serif;
            font-size: 96px;
            color: $green3;
            z-index: 2;
            margin-top: -55px;
            margin-right: 20px;
        }
    }
    #fontD {
        h1 {
            font-family: 'windsong', Helvetica, sans-serif;
            font-size: 108px;
            color: $purple0;
            z-index: 3;
            display: inline-block;
        }
        h1.ampersand {
            font-family: 'windsong', Helvetica, sans-serif;
            font-size: 40px;
            margin-left: 14px;
            margin-right: 14px;
            margin-top: -5px;
            padding-left: 10px;
            padding-right: 10px;
            top: -10px;
        }
        h2 {
            font-family: 'deming', Helvetica, sans-serif;
            font-size: 48px;
            color: $purple2;
            z-index: 4;
            margin-top: -60px;
            margin-right: 10px;
        }
    }
}
