/* wedding details */

#wedding {
    h2 {
        font-family: 'yonder', sans-serif;
        font-size: 42px;
        line-height: 42px;
        text-align: center;
        margin: 0px 0px 0px 0px;
        position: relative;
    }
    h3 {
        font-family: 'yonder', sans-serif;
        font-size: 36px;
        text-align: center;
    }
    h5 {
        font-family: 'raleway-light', Helvetica, sans-serif;
        margin-top: 40px;
    }
}
