/* wedding */

.wedding-party-pics {
    height: 400px;
    a .img-circle {
        max-width: 100px;
        max-height: 100px;
    }
    @media (max-width: $screen-xs-max) {
        a {
            display: block;
        }
    }
}

.wedding-party-info {
    height: 400px;
    h3 {
        font-family: 'yonder', sans-serif;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 28px;
        @media (max-width: $screen-xs-max) {
            font-size: 26px;
        }
    }
    h4 {
        font-family: 'raleway-light', sans-serif;
        margin-top: 5px;
        font-size: 18px;
    }
    > div {
        height: 100px;
        display: inline-block;
        padding: 0px 5px;
        @media (max-width: $screen-xs-max) {
            display: inline;
        }
    }
    @media (max-width: $screen-xs-max) {
        padding: 0px;
        > div {
            padding-right: 5px;
        }
    }
}

.bridesmaids {
    height: 400px;
    .wedding-party-info {
        text-align: right;
    }
    .wedding-party-pics {
        .img-circle:hover {
            border: 3px solid $purple2;
        }
    }
}

.groomsmen {
    height: 400px;
    .wedding-party-info {
        text-align: left;
    }
    .wedding-party-pics {
        .img-circle:hover {
            border: 3px solid $green2;
        }
    }
    @media (max-width: $screen-xs-max) {
        .wedding-party-info {
            text-align: right;
        }
        .wedding-party-pics {
            float: right!important;
        }
    }
}

.wedding-party-modal {
    &.modal-h .modal-dialog {
        margin-top: 10vh;
        @media (max-width: $screen-xs-max) {
            margin-top: 20vh;
        }
    }
    &.modal-v .modal-dialog {
        margin-top: 5vh;
    }
    .modal-content {
        margin-left: auto;
        margin-right: auto;
        background-color: $purple3;
        .modal-body {
            padding: 8px;
            img {
                border: 1px solid #ddd;
            }
        }
        .modal-footer {
            height: 150px;
            padding: 10px 20px;
            border-top: 0;
            h4 {
                text-align: center;
                color: #ddd;
                font-family: 'yonder', sans-serif;
                font-size: 36px;
                line-height: 36px;
            }
            h5 {
                text-align: left;
                color: #ddd;
                font-family: 'raleway-extralight', sans-serif;
                font-size: 14px;
            }
        }
    }
    &.modal-h .modal-content {
        max-width: 620px;
        max-height: 550px;
        .modal-body {
            max-width: 620px;
            max-height: 420px;
        }
    }
    &.modal-v .modal-content {
        max-width: 420px;
        max-height: 720px;
        .modal-body {
            max-width: 420px;
            max-height: 620px;
        }
    }
}
