/* Heart and Soul */

@font-face {
    font-family: 'heart-and-soul';
    src: url('purchased-fonts/heart-and-soul/HeartAndSoul-webfont.eot');
    src: url('purchased-fonts/heart-and-soul/HeartAndSoul-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/heart-and-soul/HeartAndSoul-webfont.woff2') format('woff2'),
         url('purchased-fonts/heart-and-soul/HeartAndSoul-webfont.woff') format('woff'),
         url('purchased-fonts/heart-and-soul/HeartAndSoul-webfont.ttf') format('truetype'),
         url('purchased-fonts/heart-and-soul/HeartAndSoul-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heart-and-soul-alt';
    src: url('purchased-fonts/heart-and-soul/HeartAndSoulAlt-webfont.eot');
    src: url('purchased-fonts/heart-and-soul/HeartAndSoulAlt-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/heart-and-soul/HeartAndSoulAlt-webfont.woff2') format('woff2'),
         url('purchased-fonts/heart-and-soul/HeartAndSoulAlt-webfont.woff') format('woff'),
         url('purchased-fonts/heart-and-soul/HeartAndSoulAlt-webfont.ttf') format('truetype'),
         url('purchased-fonts/heart-and-soul/HeartAndSoulAlt-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
