/* Heartwell */

@font-face {
    font-family: 'heartwell';
    src: url('purchased-fonts/heartwell/Heartwell1.2.eot');
    src: url('purchased-fonts/heartwell/Heartwell1.2.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/heartwell/Heartwell1.2.woff2') format('woff2'),
         url('purchased-fonts/heartwell/Heartwell1.2.woff') format('woff'),
         url('purchased-fonts/heartwell/Heartwell1.2.ttf') format('truetype'),
         url('purchased-fonts/heartwell/Heartwell1.2.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heartwell-italics';
    src: url('purchased-fonts/heartwell/HeartwellItalics1.2.eot');
    src: url('purchased-fonts/heartwell/HeartwellItalics1.2.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/heartwell/HeartwellItalics1.2.woff2') format('woff2'),
         url('purchased-fonts/heartwell/HeartwellItalics1.2.woff') format('woff'),
         url('purchased-fonts/heartwell/HeartwellItalics1.2.ttf') format('truetype'),
         url('purchased-fonts/heartwell/HeartwellItalics1.2.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
