/* Hollyhock */

@font-face {
    font-family: 'hollyhock';
    src: url('purchased-fonts/hollyhock/Hollyhock-Regular-webfont.eot');
    src: url('purchased-fonts/hollyhock/Hollyhock-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/hollyhock/Hollyhock-Regular-webfont.woff2') format('woff2'),
         url('purchased-fonts/hollyhock/Hollyhock-Regular-webfont.woff') format('woff'),
         url('purchased-fonts/hollyhock/Hollyhock-Regular-webfont.ttf') format('truetype'),
         url('purchased-fonts/hollyhock/Hollyhock-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hollyhock-ornaments';
    src: url('purchased-fonts/hollyhock/hollyhockornaments-webfont.eot');
    src: url('purchased-fonts/hollyhock/hollyhockornaments-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/hollyhock/hollyhockornaments-webfont.woff2') format('woff2'),
         url('purchased-fonts/hollyhock/hollyhockornaments-webfont.woff') format('woff'),
         url('purchased-fonts/hollyhock/hollyhockornaments-webfont.ttf') format('truetype'),
         url('purchased-fonts/hollyhock/hollyhockornaments-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
