/* Smoothy */

@font-face {
    font-family: 'smoothy-cursive';
    src: url('purchased-fonts/smoothy/Smoothy-Cursive-webfont.eot');
    src: url('purchased-fonts/smoothy/Smoothy-Cursive-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/smoothy/Smoothy-Cursive-webfont.woff2') format('woff2'),
         url('purchased-fonts/smoothy/Smoothy-Cursive-webfont.woff') format('woff'),
         url('purchased-fonts/smoothy/Smoothy-Cursive-webfont.ttf') format('truetype'),
         url('purchased-fonts/smoothy/Smoothy-Cursive-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'smoothy-sans';
    src: url('purchased-fonts/smoothy/Smoothy-Sans-webfont.eot');
    src: url('purchased-fonts/smoothy/Smoothy-Sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/smoothy/Smoothy-Sans-webfont.woff2') format('woff2'),
         url('purchased-fonts/smoothy/Smoothy-Sans-webfont.woff') format('woff'),
         url('purchased-fonts/smoothy/Smoothy-Sans-webfont.ttf') format('truetype'),
         url('purchased-fonts/smoothy/Smoothy-Sans-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
