/* True North */

@font-face {
    font-family: 'true-north';
    src: url('purchased-fonts/true-north/TrueNorth-Regular-webfont.eot');
    src: url('purchased-fonts/true-north/TrueNorth-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/true-north/TrueNorth-Regular-webfont.woff2') format('woff2'),
         url('purchased-fonts/true-north/TrueNorth-Regular-webfont.woff') format('woff'),
         url('purchased-fonts/true-north/TrueNorth-Regular-webfont.ttf') format('truetype'),
         url('purchased-fonts/true-north/TrueNorth-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'true-north-dots';
    src: url('purchased-fonts/true-north/TrueNorthDots-Regular-webfont.eot');
    src: url('purchased-fonts/true-north/TrueNorthDots-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/true-north/TrueNorthDots-Regular-webfont.woff2') format('woff2'),
         url('purchased-fonts/true-north/TrueNorthDots-Regular-webfont.woff') format('woff'),
         url('purchased-fonts/true-north/TrueNorthDots-Regular-webfont.ttf') format('truetype'),
         url('purchased-fonts/true-north/TrueNorthDots-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'true-north-inline';
    src: url('purchased-fonts/true-north/TrueNorthInline-Regular-webfont.eot');
    src: url('purchased-fonts/true-north/TrueNorthInline-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/true-north/TrueNorthInline-Regular-webfont.woff2') format('woff2'),
         url('purchased-fonts/true-north/TrueNorthInline-Regular-webfont.woff') format('woff'),
         url('purchased-fonts/true-north/TrueNorthInline-Regular-webfont.ttf') format('truetype'),
         url('purchased-fonts/true-north/TrueNorthInline-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'true-north-black';
    src: url('purchased-fonts/true-north/TrueNorth-Black-webfont.eot');
    src: url('purchased-fonts/true-north/TrueNorth-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/true-north/TrueNorth-Black-webfont.woff2') format('woff2'),
         url('purchased-fonts/true-north/TrueNorth-Black-webfont.woff') format('woff'),
         url('purchased-fonts/true-north/TrueNorth-Black-webfont.ttf') format('truetype'),
         url('purchased-fonts/true-north/TrueNorth-Black-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'true-north-black-inline';
    src: url('purchased-fonts/true-north/TrueNorthInline-Black-webfont.eot');
    src: url('purchased-fonts/true-north/TrueNorthInline-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/true-north/TrueNorthInline-Black-webfont.woff2') format('woff2'),
         url('purchased-fonts/true-north/TrueNorthInline-Black-webfont.woff') format('woff'),
         url('purchased-fonts/true-north/TrueNorthInline-Black-webfont.ttf') format('truetype'),
         url('purchased-fonts/true-north/TrueNorthInline-Black-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'true-north-3d';
    src: url('purchased-fonts/true-north/TrueNorth3D-Regular-webfont.eot');
    src: url('purchased-fonts/true-north/TrueNorth3D-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/true-north/TrueNorth3D-Regular-webfont.woff2') format('woff2'),
         url('purchased-fonts/true-north/TrueNorth3D-Regular-webfont.woff') format('woff'),
         url('purchased-fonts/true-north/TrueNorth3D-Regular-webfont.ttf') format('truetype'),
         url('purchased-fonts/true-north/TrueNorth3D-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'true-north-rough3d';
    src: url('purchased-fonts/true-north/TrueNorthRough3D-Regular-webfont.eot');
    src: url('purchased-fonts/true-north/TrueNorthRough3D-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/true-north/TrueNorthRough3D-Regular-webfont.woff2') format('woff2'),
         url('purchased-fonts/true-north/TrueNorthRough3D-Regular-webfont.woff') format('woff'),
         url('purchased-fonts/true-north/TrueNorthRough3D-Regular-webfont.ttf') format('truetype'),
         url('purchased-fonts/true-north/TrueNorthRough3D-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'true-north-black-rough';
    src: url('purchased-fonts/true-north/TrueNorthRough-Black-webfont.eot');
    src: url('purchased-fonts/true-north/TrueNorthRough-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/true-north/TrueNorthRough-Black-webfont.woff2') format('woff2'),
         url('purchased-fonts/true-north/TrueNorthRough-Black-webfont.woff') format('woff'),
         url('purchased-fonts/true-north/TrueNorthRough-Black-webfont.ttf') format('truetype'),
         url('purchased-fonts/true-north/TrueNorthRough-Black-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'true-north-script';
    src: url('purchased-fonts/true-north/True North Script-webfont.eot');
    src: url('purchased-fonts/true-north/True North Script-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/true-north/True North Script-webfont.woff2') format('woff2'),
         url('purchased-fonts/true-north/True North Script-webfont.woff') format('woff'),
         url('purchased-fonts/true-north/True North Script-webfont.ttf') format('truetype'),
         url('purchased-fonts/true-north/True North Script-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'true-north-extras';
    src: url('purchased-fonts/true-north/TrueNorthExtras-Regular-webfont.eot');
    src: url('purchased-fonts/true-north/TrueNorthExtras-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/true-north/TrueNorthExtras-Regular-webfont.woff2') format('woff2'),
         url('purchased-fonts/true-north/TrueNorthExtras-Regular-webfont.woff') format('woff'),
         url('purchased-fonts/true-north/TrueNorthExtras-Regular-webfont.ttf') format('truetype'),
         url('purchased-fonts/true-north/TrueNorthExtras-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
