/* Yonder */

@font-face {
    font-family: 'yonder';
    src: url('purchased-fonts/yonder/Yonder-Regular-webfont.eot');
    src: url('purchased-fonts/yonder/Yonder-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('purchased-fonts/yonder/Yonder-Regular-webfont.woff2') format('woff2'),
         url('purchased-fonts/yonder/Yonder-Regular-webfont.woff') format('woff'),
         url('purchased-fonts/yonder/Yonder-Regular-webfont.ttf') format('truetype'),
         url('purchased-fonts/yonder/Yonder-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}